<!-- your html code here -->
<div>
    <div class="container">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam harum tempora repudiandae id. Nostrum
            dolores, commodi, magni unde eveniet facilis voluptates ipsam consectetur, saepe ab aut error vel! Dolor,
            nesciunt facere? Quibusdam vel aliquid fugiat inventore cumque. Sint enim eligendi dicta rerum minus facere
            amet
            delectus corporis omnis non.</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <img class="img-fluid" src="https://flowbite.com/docs/images/examples/image-1@2x.jpg" alt="Imagen">
                <h5>Project</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et iusto, culpa laudantium dolorem
                    ducimus unde laboriosam voluptatem quis numquam facilis reprehenderit quaerat repellendus vel!
                </p>
            </div>
            <div class="col">
                <img class="img-fluid" src="https://flowbite.com/docs/images/examples/image-1@2x.jpg" alt="Imagen">
                <h5>Project</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et iusto, culpa laudantium dolorem
                    ducimus unde laboriosam voluptatem quis numquam facilis reprehenderit quaerat repellendus vel!
                </p>
            </div>
            <div class="col">
                <img class="img-fluid" src="https://flowbite.com/docs/images/examples/image-1@2x.jpg" alt="Imagen">
                <h5 href="#">
                    </h5href> Project</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et iusto, culpa laudantium dolorem
                    ducimus unde laboriosam voluptatem quis numquam facilis reprehenderit quaerat repellendus vel!
                </p>
            </div>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>

    </div>
</div>
</div>