<!-- your html code here -->
<div class="container">

    <div class="row cols-2"> <!--SERVICE / SECOND HEADING-->
        <div class="col-3">
            <img src="https://www.theschoolrun.com/sites/theschoolrun.com/files/article_images/what_is_a_programming_language.jpg"
                class="rounded-circle mt-10 img-fluid">
        </div>
        <div class="col-9">
            <h1>Second Heading
                <span class="text-secondary">that's also cool </span>
            </h1>
            <p>
                In consectetur lacinia nulla ac dapibus. Nulla malesuada pretium magna,
                id varius massa tincidunt eget. Aenean iaculis risus augue, et ullamcorper lacus consequat a. Integer
                sed
                egestas augue. Donec nec dolor nulla. Morbi ultricies ligula faucibus odio fringilla, nec pharetra ipsum
                iaculis. Etiam ante neque, feugiat vel massa in, ornare aliquam arcu.
            </p>
        </div>
    </div>

</div>